.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px; 
  cursor: pointer;
  color: #333;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #1890ff;
  }
}
